.adress {
  outline: blue solid thick;
  margin: 10px 0;
  font: inherit;
  border: none;
}

.adress__title {
//  display: none;
}

.adress-container {
  outline: aquamarine solid thin;
}

.adress__label {
  outline: red solid thin;
}
