.advantages {
  color: @dark-color;
  background-color: @light-color;
  font-size: 14px;
  padding: 5px 5px;
  outline: green solid thin;
}

.advantages-block {
  outline: red solid thin;
  width: 280px;
  padding: 0px 20px;
}

.advantages-item {
  text-align: center;
  outline: purple solid thin;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 660px;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantages-block {
    width: 620px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__text {
    font-size: 40px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    width: 320px;
    outline: blue solid thin;
    margin-left: 295px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages-block {
    width: 1200px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    outline: blue solid thin;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    width: 295px;
    outline: blue solid thin;
  }
}
