.attachment-grid {
  outline: red solid thick;
  margin: 10px 0;
  font: inherit;
  border: none;
  text-align: center;
}

@media (min-width: @desktop-width) {
.attachment-grid {
    order: -2;
    width: 600px;
    align-self: flex-end;
    margin-top: -86px;
    outline: yellow solid thick;
  }
}
