.comments-field {
  padding: 10px 2px;
  font: inherit;
  text-align: center;
  position: relative;
  border: none;
  margin: 10px 0;
  color: #d22856;
  padding-top: 40px;
  padding-bottom: 30px;

  .comments-field__header {
    padding-top: 35px;
    text-transform: uppercase;
    color: #d22856;
    font-weight: normal;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
  }

  .comments-field__textarea {
    width: 240px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .comments__container {
    width: 620px;
    margin: 0 auto;
    order: 4;

    .comments-field {
      border: 2px solid #e5e5e5;
      border-radius: 5px;
      order: 4;

      .comments-field__textarea {
        width: 500px;
        padding: 20px;
        margin-top: 32px;
        text-align: center;
      }

      .comments-field__header {
        order: 4;
        width: 240px;
        padding: 0 10px;
        margin-top: -10px;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .comments__container {
    order: 4;
    width: 940px;
    margin: 0 auto;
    outline: green solid thin;

    .comments-field {
      order: 4;

      .comments-field__textarea {
        width: 820px;
      }
    }
  }
}
