.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    background-color: @bg-light;
    padding-bottom: 120px;
    padding-top: 90px;
  }
}

@media (min-width: @tablet-width) {
  .effect__block {
    width: 320px;
    margin-left: 295px;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    display: block;
    background-color: #f1f1f1;
  }
}

@media (min-width: @desktop-width) {
  .effect__block {
    width: 410px;
    margin-left: 485px;
  }
}

@media (min-width: @desktop-width) {
  .effect__title {
    font-size: 30px;
    font-weight: bold;
  }
}

@media (min-width: @desktop-width) {
  .effect__text {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .effect__link {
    font-size: 18px;
    color: red;
  }
}
