.footer {
  width: 320px;
  background: @light-color;
  color: @dark-color;
  outline: red solid thin;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .footer {
    width: 660px;
    outline: blue solid thick;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 1200px;
    outline: yellow solid thick;
  }
}
