.form-nav {
  color: @light-color;
  outline: pink solid thin;
  font-size: 24px;
}

.form-nav__wrapper {
  outline: brown solid thick;
}

.form-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: white solid thick;
}

@media (min-width: @tablet-width) {
  .form-nav {
    width: auto;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .form-nav__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .form-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: white solid thick;
  }
}

@media (min-width: @desktop-width) {
  .form-nav {
    outline: yellow solid thin;
  }
}

@media (min-width: @desktop-width) {
  .form-nav__wrapper {
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: white solid thick;
  }
}

@media (min-width: @desktop-width) {
  .form-list__item a {
    margin-right: 20px;
    text-decoration: none;
    color: @light-color;
  }
}

