.form-page {
  font-size: 14px;
  color: #000000;
  background-color: @light-color;
  margin-top: -15px;
}

.form-page__text {
  padding: 20px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-page {
    width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .form-page__text {
    order: -1;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form-page {
    width: @desktop-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form-page__text {
    margin: 20px auto;
    text-align: center;
    order: -1;
    width: 820px;
  }
}
