.main-page {
  outline: coral solid thick;
  font-size: 14px;
  color: #000000;
  margin-top: 150px;
}

@media (min-width: @tablet-width){
  .main-page{
    outline: red solid thick;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width){
  .main-page{
    outline: green solid thick;
  }
}
