.main-nav {
  display: none;
  color: @light-color;
  outline: purple solid thin;
}

.main-nav__wrapper {
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: block;
    width: 660px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: auto;
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list a {
    text-decoration: none;
    color: @light-color;
  }
}
