.main-header {
  background-color: @bg-dark;
  background-image: url(@bg-path);
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  width: @mobile-width;
  margin: 0 auto;
}

.main-header__logo {
  height: 25px;
  padding: 10px;
  margin: 10px;
}

.main-header__image {
  width: 74px;
  height: 23px;
}

.main-header__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header {
    background-size: 660px;
    width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .main-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    margin: 25px;
  }
}

@media (min-width: @tablet-width) {
  .main-header__image {
    width: 146px;
    height: 40px;
  }
}

@media (min-width: @tablet-width) {
  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    background-color: @bg-dark;
    background-image: url(@bg-path);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1200px;
    width: @desktop-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-header__container {
    height: 110px;
    width: @desktop-width;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    width: 370px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo {
    margin: 0 0 0 45px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header__image {
    height: 110px;
    width: 190px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__toggle {
    display: none;
  }
}
