.main-footer {
  background-color: @light-color;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: @dark-color;
  outline: red solid thin;
  padding: 0;
  margin-top: -23px;
}

.main-footer__text {
  width: 280px;
  text-align: center;
  margin: auto;
}

.main-footer__phrase {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-footer__block {
  width: 280px;
  text-align: center;
  margin: auto;
  outline: purple solid thin;
}

.main-footer__title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.main-footer__email-link {
  text-decoration: none;
  color: red;
}

.main-footer__container {
  display: none;
}

.main-footer__info {
  color: red;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.map {
  margin-top: -100px;
}

.main-footer__contacts {
  background-color: #ffffff;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .main-footer {
    background-image: url("../img/bg-map-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 660px;
    color: @dark-color;
    outline: red solid thin;
    padding: 0;
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__contacts {
    display: flex;
    flex-wrap: wrap;
  }
}

/*@media (min-width: @tablet-width) {
  .main-footer {
    background: @bg-light url("../img/bg-bacbg-map-mobile@1x.png") 0px 0px no-repeat;
    background-size: 1200px;
  }
}*/

@media (min-width: @tablet-width) {
  .main-footer__phrase {
    font-size: 40px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__text {
    height: 185px;
    flex-basis: 100%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__phone {
    flex-basis: 50%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__email {
    flex-basis: 50%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__adress {
    flex-basis: 100%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__social {
    outline: green solid thin;
    width: 320px;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__block {
    flex-basis: 50%;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__link {
    text-decoration: none;
    font-size: 0;
  }
}

@media (min-width: @tablet-width) {
  .social__link--twitter {
    background-image: url("../img/bg-map-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__map {
    height: 380px;
    flex-basis: 100%;
    overflow: hidden;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__container {
    display: flex;
    outline: brown solid thin;
    margin-top: 239px;
    height: 130px;
    background-color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__logo {
    width: 170px;
    padding-top: 35px;
    text-align: center;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .footer__social {
    width: 320px;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .website-by {
    width: 170px;
    outline: brown solid thin;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__text {
    height: 170px;
    justify-content: space-between;
    outline: red solid thin;
    text-align: center;
  }
}


@media (min-width: @desktop-width) {
  .main-footer__block {
    flex-basis: 30%;
    height: 170px;
    outline: red solid thin;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__block {
    flex-basis: 30%;
    height: 170px;
    outline: red solid thin;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__block {
    flex-basis: 30%;
    height: 170px;
    outline: red solid thin;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__map {
    width: 1200px;
    height: 400px;
    outline: green solid thin;
  }
}


@media (min-width: @desktop-width) {
  .main-footer__container {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: @desktop-width) {
  .main-footer__logo {
    flex-basis: 30%;
    outline: brown solid thin;
  }
}

@media (min-width: @desktop-width) {
  .footer__social {
    flex-basis: 30%;
    outline: brown solid thin;
  }
}

@media (min-width: @desktop-width) {
  .website-by {
    flex-basis: 30%;
    outline: brown solid thin;
  }
}
