.main-footer {
  background: @light-color;
  color: @dark-color;
  outline: red solid thin;
  padding: 0;
}


@media (min-width: @tablet-width) {
  .main-footer__contacts {
    display: flex;
    flex-wrap: wrap;
  }
}

/*@media (min-width: @tablet-width) {
  .main-footer {
    background: @bg-light url("../img/bg-bacbg-map-mobile@1x.png") 0px 0px no-repeat;
    background-size: 1200px;
  }
}*/

@media (min-width: @tablet-width) {
  .main-footer__text {
    height: 185px;
    flex-basis: 100%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__phone {
    flex-basis: 50%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__email {
    flex-basis: 50%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__adress {
    flex-basis: 100%;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__map {
    height: 380px;
    flex-basis: 100%;
    overflow: hidden;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__container {
    display: flex;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .footer__logo {
    width: 170px;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .footer__social {
    width: 320px;
    outline: brown solid thin;
  }
}

@media (min-width: @tablet-width) {
  .website-by {
    width: 170px;
    outline: brown solid thin;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__text {
    height: 170px;
    justify-content: space-between;
    outline: red solid thin;
    text-align: center;
  }
}


@media (min-width: @desktop-width) {
  .main-footer__phone {
    flex-basis: 30%;
    height: 170px;
    outline: red solid thin;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__email {
    flex-basis: 30%;
    height: 170px;
    outline: red solid thin;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__adress {
    flex-basis: 30%;
    height: 170px;
    outline: red solid thin;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__map {
    width: 1200px;
    height: 400px;
    outline: green solid thin;
  }
}


@media (min-width: @desktop-width) {
  .main-footer__container {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: @desktop-width) {
  .footer__logo {
    flex-basis: 30%;
    outline: brown solid thin;
  }
}

@media (min-width: @desktop-width) {
  .footer__social {
    flex-basis: 30%;
    outline: brown solid thin;
  }
}

@media (min-width: @desktop-width) {
  .website-by {
    flex-basis: 30%;
    outline: brown solid thin;
  }
}
