.main-page {
  width: 320px;
  outline: coral solid thick;
  font-size: 14px;
  color: #000000;
}

@media (min-width: @tablet-width){
  .main-page{
    width: 660px;
    outline: red solid thick;
  }
}

@media (min-width: @desktop-width){
  .main-page{
    width: 1200px;
    outline: green solid thick;
  }
}
