.user-block {
  outline: purple solid thin;
  margin: 10px 0;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .user-block {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    outline: aquamarine solid thin;
  }
}

@media (min-width: @tablet-width) {
  .user-block:not(.panorama) {
    width: 300px;
  }
}

@media (min-width: @tablet-width) {
  .panorama {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    outline: purple solid thin;
  }
}

@media (min-width: @tablet-width) {
  .user-block__picture img {
    width: 1200px;
    height: 506px;
    outline: aquamarine solid thin;
  }
}

@media (min-width: @tablet-width) {
  .car {
    order: 1;
  }
}

@media (min-width: @tablet-width) {
  .drumset {
    order: 2;
  }
}

@media (min-width: @tablet-width) {
  .window {
    order: 3;
  }
}

@media (min-width: @tablet-width) {
  .fair {
    order: 4;
  }
}

@media (min-width: @tablet-width) {
  .pov {
    order: 5;
  }
}

@media (min-width: @tablet-width) {
  .wing {
    order: 6;
  }
}

@media (min-width: @desktop-width) {
  .panorama {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    outline: purple solid thin;
  }
}

@media (min-width: @desktop-width) {
  .user-block {
    margin: 25px 10px;
  }
}

@media (min-width: @desktop-width) {
  .user-block:not(.panorama) {
    width: 300px;
  }
}
