website-by {
  background: @light-color;
  color: @dark-color;
  padding: 5px;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .website-by {
    display: flex;
  }

  .website-by_text {
    font-size: 14px;
    align-self: center;
    margin-left: auto;
  }

  .website-by__link {
    font-size: 0;
    align-self: center;
    margin-right: auto;
  }

    .website-by__logo {
    fill: red;
  }
}
