@bg-dark: #283645;
@bg-light: #ffffff;
@bg-path: "../img/bg-back-mobile@1x.jpg";
@light-color: #ffffff;
@dark-color: #000000;
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;

/*@media (min-width: @tablet-width) {
  .wide-container {
    width: @tablet-width;
  }
}

@media (min-width: @tablet-width) {
  .container {
//    display: none;
  }
}

@media (min-width: @tablet-width) {
  .wide-container {
    display: block;
    outline: pink solid thick;
  }
}*/

@font-face {
  font-family: "Open Sans";
  src:url("../fonts/opensans.woff"),
    url("../fonts/opensans.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src:url("../fonts/opensansbold.woff"),
    url("../fonts/opensansbold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src:url("../fonts/opensanslight.woff"),
    url("../fonts/opensanslight.woff");
  font-weight: light;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: @bg-dark;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
}
