@font-face {
    font-family: "Open Sans";
    src:url("../fonts/opensans.woff"),
        url("../fonts/opensans.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src:url("../fonts/opensansbold.woff"),
        url("../fonts/opensansbold.woff");
     font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src:url("../fonts/opensanslight.woff"),
        url("../fonts/opensanslight.woff");
    font-weight: light;
}

html,
body {
  height: 100%;
  width: 320px;
  margin: 0;
  padding: 0;
  background-color:@bg-dark;
  outline: coral solid thin;
  font-family: Open Sans;
  font-size: 18px;
  letter-spacing: 32px;
  color: #ffffff;
}

@bg-dark: #283645;
@bg-light: #fff;
@bg-path: "../img/bg-back-mobile@1x.jpg";
@light-color: #fff;
@dark-color: #000;
